.header-button {
    padding-bottom: 10px;
}

.product-thumbnail {
    max-height: 50px;
    max-width: 50px;
}

.product-image-edit {
    max-height: 128px;
    max-width: 128px;
    padding-bottom: 10px;
}

#tag-error-msg, #name-error-msg {
    display: none;
}

.btn {
    cursor: pointer;
}